on init
    setprop sys.usb.ffs.aio_compat 1

on property:sys.boot_completed=1
    chmod 0640 /sys/fs/selinux/enforce
    chmod 0440 /sys/fs/selinux/policy

service nfc_hal_service /vendor/bin/hw/android.hardware.nfc@1.2-service.st
    override
    disabled
    class hal
    user nfc
    group nfc

service secure_element_hal_service /vendor/bin/hw/android.hardware.secure_element@1.2-service.st
    override
    disabled
    class hal
    user secure_element
    group secure_element nfc

on property:ro.boot.product.hardware.sku=ares
    start secure_element_hal_service
    start nfc_hal_service

on property:ro.boot.product.hardware.sku=aresin
    stop secure_element_hal_service
    stop nfc_hal_service
